.column {
  width: 33%;
  float: left;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-weight: bold;
  font-style: oblique;
  font-family: Georgia;
}

.spaces {
  border: 5px dashed purple;
  background-color: yellow;
  padding: 5px;
  margin-bottom: 25px;
}
